################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/book_library/FileContentIndex/9a914e31-a278-4750-83e4-c464282dbcf4.vsidx
/.vs/BookLibrary/FileContentIndex/f71a290c-d831-48a1-928c-38bb44dd38b3.vsidx
/.vs/BookLibrary/FileContentIndex/a05ec00d-69af-4de9-9360-4edb683c896c.vsidx
/.vs/BookLibrary/FileContentIndex/0774886e-4be8-474d-aac9-2ce51418ec6e.vsidx
